*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-fluid{
    margin: 0;
    position: relative;
    
}
.nav {
    background-color: lightgrey;
    padding: 4px;
    height: 100px;
    display: flex;
    justify-content:space-between;

}
.h22{
    text-decoration:none;
    color: black;
}

.twolinks{
    margin-right: 70px;
    margin-top: 30px;
    display: flex;
    list-style: none;
}

.twolinks a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);

}


#userinfo{
    
    margin-right: 70px;
    margin-top: 10px;
    list-style: none;
    display: none;
    
}

#userinfo li{
    display: inline-block;
    padding: 10px;

}

#user , #logout{

    text-decoration: none;
    text-decoration: underline;
    font-size: 25px;
    color: rgb(0, 0, 0);

    /* text-decoration: none;
    text-decoration: underline;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin: 100px; */
    
}
.regbutton{
   
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(160, 160, 160);
    margin-right: 20px;

}
.twolinks a:hover{
    font-weight: bold;
}


.reg{
     position:absolute;
     top:30%;
     left: 40%;
     min-width: 300px;
     line-height: 30px;
}

.reg2{
    position:absolute;
     top:200%;
     left: 40%;
     min-width: 300px;
     line-height: 30px;
}

form label{
    font-size: 13px;
    font-weight: bold;
}
form input{
    width: 100%;
    height: 40px;
    outline:none;

}

input[type="submit"]
{
    margin-top: 20px;

}

.div1{
    border: solid 1px black;
    padding: 10px;
    transition: 1s;
}
.div1:hover{
    transform: scale(102% , 102%);
    border: 2px solid blue;
}
 img{
    max-width: 250px;
}

.btnli{
    display: flex;
    justify-content:space-between;
}
.btnli i{
    cursor: pointer;
    
}
.btnli i:hover{
    color: red;
}